<div class="topo_card">Tocando:</div>
<div class="playing">
    <div class="flex">
        <div class="circle">
           
        </div>
        <div>Nome do jogador</div>
    </div>
    
    <div class="detalhes">
        <div class="det">
            Detalhes:
        </div>
        <div class="youtube">
            <iframe width="560" height="315" 
            src="https://www.youtube.com/embed/MqToaNq6SZc?si=eTtsQiUzidZh24oJ" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
            </iframe>
        </div>
      
    </div>

</div>