.home{
    color: #AB9AD9;
    display: grid;
    grid-template-areas: 
    "header header"
    "playing fila"
    "peaple fila";
    margin-left: 100px;
    margin-right: 100px;
    grid-template-columns: 40% 60%;
}

.fila-header{
    grid-area: header;
    font-size: 50px;
    align-items: center;
    margin: 3rem;
}

.logo {
    text-align: center;
}
app-card-playing{
    grid-area: playing;
}

app-card-fila{
    grid-area: fila;
    margin-left: 5%;

}

app-card-pessoas{
    grid-area: peaple;
}
