/* /// You can add global styles to this file, and also import other style files */
body{
    background-color: #152325;
    width: 99vw;
    height: 99vh;
    overflow: hidden;
} 

img{
    width: 100%;
    height: 100%;
    align-self: center;
    overflow: hidden;
}

.topo_card {
    font-size: 35px;
}

button{
    border-radius: 5px;
}
